<section id="search-modal" class="search-modal">
  <section class="input-wrapper">
    <input type="search">
    <button id="search-modal-btn" type="button">GO</button>
  </section>
  <button class="close">X</button>
</section>