.sections-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 2px solid black;
	position: relative;
}

.section-links {
	display: flex;
	font-family: $sans-serif;
	font-size: 11px;
	margin-top: 10px;
	margin-bottom: 10px;

	li {
		margin-left: 10px;
	}

	a {
		margin-right: 10px;
	}

  a:hover {
    background: $light-gray;
    border: none;
  }

  li:last-of-type a:hover {
    background: transparent;
    border-bottom: 1px solid black;
  }

}